# These owners will be the default owners for everything in the repo. Unless a later match takes precedence
* @Relinks/it-medior-backend-developer @Relinks/it-senior-backend-developer @Relinks/it-teamlead-backend

/CODEOWNERS @Relinks/it-devops @Relinks/it-senior-devops @Relinks/it-it-manager
